<!DOCTYPE html>
<head>
    <%= @title %>
    <link href="/main.css" media="screen" rel="stylesheet" type="text/css" media="screen, projection" />
</head>

<body>

    <%= yield %>

    <div id="debug">
        <p>The time is <%= Time.now.strftime("%I:%M:%S %p") %>.</p>
    </div>
</body>
</html>
