<!DOCTYPE html>
<head>
  <link href="/main.css" media="screen" rel="stylesheet" type="text/css" media="screen, projection" />
  <script src="/script.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>

<body>

  <%= yield %>

  <div id="debug">
    <p>The time is <%= Time.now.strftime("%I:%M:%S %p") %>.</p>
  </div>
</body>
</html>
